include LICENSE
include configure/CONFIG_*_VERSION
include configure/CONFIG_ENV
include configure/CONFIG_SITE_ENV
include pyproject.toml

include src/python/epicscorelibs/*.pxd

include setup.py.d/*

recursive-include modules/libcom/src *.h *.h@ *.c *.cpp
prune modules/libcom/src/osi/os/RTEMS
prune modules/libcom/src/osi/os/vxWorks
prune modules/libcom/src/O.*

include modules/ca/src/client/*.h
include modules/ca/src/client/*.h@
include modules/ca/src/client/*.c
include modules/ca/src/client/*.cpp
prune modules/ca/src/O.*

include modules/database/src/ioc/*/*.dbd
include modules/database/src/std/*/*.dbd
include modules/pvAccess/src/ioc/*.dbd
include modules/pva2pva/pdbApp/qsrv-new.dbd

recursive-include modules/database/src/ioc *.h *.h@ *.c *.cpp
prune modules/database/src/ioc/O.*

recursive-include modules/database/src/std *.h *.c *.cpp
prune modules/database/src/std/O.*

include modules/pvData/configure/CONFIG_PVDATA_VERSION
recursive-include modules/pvData/src *.h *.h@ *.cpp
prune modules/pvData/src/O.*

include modules/pvAccess/configure/CONFIG_PVACCESS_VERSION
recursive-include modules/pvAccess/src *.h *.h@ *.cpp
prune modules/pvAccess/src/O.*

include modules/pva2pva/configure/CONFIG_QSRV_VERSION
recursive-include modules/pva2pva/pdbApp *.h *.h@ *.cpp *.c
recursive-include modules/pva2pva/p2pApp *.h *.h@ *.cpp
recursive-include modules/pva2pva/common *.h *.h@ *.cpp
prune modules/pva2pva/*/O.*
