include LICENSE
include configure/CONFIG_BASE_VERSION
include configure/CONFIG_ENV
include configure/CONFIG_SITE_ENV
include pyproject.toml

include src/python/epicscorelibs/*.pxd

include setup.py.d/*

recursive-include modules/libcom/src *.h *.c *.cpp
prune modules/libcom/src/osi/os/RTEMS
prune modules/libcom/src/osi/os/vxWorks
prune modules/libcom/src/O.*

include modules/ca/src/client/*.h
include modules/ca/src/client/*.c
include modules/ca/src/client/*.cpp
prune modules/ca/src/O.*

include modules/database/src/ioc/*/*.dbd
include modules/database/src/std/*/*.dbd

recursive-include modules/database/src/ioc *.h *.c *.cpp
prune modules/database/src/ioc/O.*

recursive-include modules/database/src/std *.h *.c *.cpp
prune modules/database/src/std/O.*

include modules/pvData/configure/CONFIG_PVDATA_VERSION
recursive-include modules/pvData/src *.h *.h@ *.cpp
prune modules/pvData/src/O.*

include modules/pvAccess/configure/CONFIG_PVACCESS_VERSION
recursive-include modules/pvAccess/src *.h *.h@ *.cpp
prune modules/pvAccess/src/O.*
